	 .navbar a:link, .navbar a:visited
	{
	display:block;
	font-weight:bold;
	color:#FFFFFF;
	background-color:#bebebe;
	text-align:center;
	text-decoration:none;
	text-transform:uppercase;
	}
	.navbar a:hover,.navbar a:active
	{
	background-color:#cc0000;
	}
	.navbar {
    text-align:center;
	}
	.navbar ul {
		list-style-type:none;
		margin:0;
		padding:0;
		list-style: none;
	    display:inline-block;
	}
	.navbar li {
		display: inline-block;
	    float:left;
	}
	.navbar li + li {
	    margin-left:20px;
	}
	.image
	{
		margin:auto;
		width:80%;
	}
	.image p{
		text-align: center;
	}
	.video
	{
		padding-top: 10px;
		margin:auto;
		text-align: center;
	}
	article{
		padding-top: 10px;
	}
	.footer {
		text-align: center;
	}
	audio{
		float: right;
	}
	.audio button{
		float: right;
	}
	.food ul {
		list-style-type:none;
		margin:0;
		padding:0;
		list-style: none;
	    display:inline-block;
	}
	.food li {
		width: 30%;
		display: inline-block;
	    float:left;
	}
	.food li + li{
		margin-left:20px;
	}
	.svg{
		padding-top: 50px;
		padding-bottom: 30px;
		text-align: center;
		}